<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    
    <session-factory>
        <mapping class="com.cong.logiware.hibernate.entity.User"/>
        <mapping class="com.cong.logiware.hibernate.entity.Product"/>
        <mapping class="com.cong.logiware.hibernate.entity.CartProduct"/>
        <mapping class="com.cong.logiware.hibernate.entity.Cart"/>
        <mapping class="com.cong.logiware.hibernate.entity.Address"/>
    </session-factory>
</hibernate-configuration>
